# OS files
.DS_Store 

# IDE/editor settings
.vscode/

# Ignore general temp or build files
**/node_modules/

# Keep environment variables out of version control
**.env*

# Ignore SQLite database files
**.db